<md-content layout="row" layout-align="center center" layout-fill class="home-container">
  <md-container>
    <h1>Koobz</h1>
    <div>
      <form ng-submit="create()">
        <md-input-container>
          <label for="boardName">Enter a name for your board</label>
          <input type="text" id="boardName" name="boardName" required ng-required="true" ng-model="name"/>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="create()">Create</md-button>
      </form>
    </div>
  </md-container>

</md-content>
